@font-face{
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet MS.ttf');
}
@font-face{
    font-family: 'Bebas_Neue';
    src: url('../fonts/bebas_neue.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    
}